body{
    font-family: 'Roboto', sans-serif;
}

.fruit{
    max-width: 200px;
    display: inline-block;
}

.fruit-img{
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

.fruit-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fruit-desc{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #000000;
}

.friut-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 660px;
    max-height: 482px;
    
}